.display-none {
	display: none !important;
}

.hide {
	opacity: 0 !important;
}

/* loading相关 */
.loading {
	position: fixed;
	color: #fff;
	padding: 20px;
	user-select: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading .loading-circle {
	width: 25px;
	height: 25px;
	border: 4px solid;
	border-radius: 50%;
	border-color: #fff #fff transparent transparent;
	transform: rotate(0deg);
	animation: rotate .8s infinite linear;
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
.loading .progress {
	margin-top: 10px;
}

.loading-complete {
	padding: 20px;
	user-select: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.loading-complete > p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}
.loading-complete > p svg {
	vertical-align: middle;
}
.loading-complete > p:nth-of-type(2) {
	font-size: 16px;
}
.loading-complete .start {
	width: 50%;
	margin: 0 auto;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 20px;
	border: 1px solid #fff;
	border-radius: 30px;
	-webkit-tap-highlight-color: transparent;
}
.loading-complete .start:active {
	background: #fff;
	color: #333;
}
.loading-complete .start:hover {
	background: #fff;
	color: #333;
}

/* 预览div */
.preview-tooltip {
	user-select: none;
	position: fixed;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%);
	z-index: 1;
	max-width: 260px;
	border-radius: 10px;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition: opacity .5s;
}
.preview-tips {
	user-select: none;
	position: fixed;
	width: 65%;
	text-align: center;
	left: 50%;
	bottom: 1%;
	transform: translateX(-50%);
	z-index: 1;
	border-radius: 4px;
	padding: 5px 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition: opacity .5s;
}
.boards-info {
	user-select: none;
	position: fixed;
	z-index: 99999;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.boards-info .boards-container {
	position: relative;
	width: 80%;
	height: 70%;
	background: #000;
	padding: 60px 40px 40px;
	border-radius: 20px;
	transition: opacity .5s;
}
.boards-info .boards-container .content {
	width: 100%;
	height: 100%;
	display: flex;
	column-gap: 20px;
}
.boards-info .boards-container .close {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	text-align: center;
	width: 22px;
	height: 22px;
	line-height: 15px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-tap-highlight-color: transparent;
}
.boards-info .boards-container .close::after {
	content: "x";
	font-size: 18px;
}
.boards-info .boards-container .info {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.boards-info .boards-container .info .title {
	font-size: 24px;
}
.boards-info .boards-container .info .author,
.boards-info .boards-container .info .describe {
	margin-top: 20px;
	line-height: 30px;
}
.boards-info .boards-container .img {
	flex: 1;
	overflow: hidden;
}
.boards-info .boards-container .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media screen and (max-width: 960px) {
	.boards-info .boards-container {
		width: 65%;
		height: 85%;
	}

	.boards-info .boards-container .content {
		flex-direction: column;
		column-gap: 0;
		overflow-y: scroll;
	}
	.boards-info .boards-container .info {
		margin-top: 20px;
		width: 100%;
		height: auto;
		order: 2;
	}
	.boards-info .boards-container .img {
		overflow: initial;
		order: 1;
	}
	.boards-info .boards-container .img img {
		height: auto;
		object-fit: initial;
	}
}

/* 操作指引 */
.help {
	position: fixed;
	z-index: 1;
	width: 24px;
	height: 24px;
	line-height: 24px;
	background: #333;
	color: #ccc;
	border-radius: 50%;
	text-align: center;
	right: 20px;
	top: 20px;
	user-select: none;
	cursor: pointer;
}
.operating-intro {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	user-select: none;
}
.operating-intro h2 {
	position: absolute;
	left: 12px;
	top: 12px;
	color: #333;
	font-size: 22px;
}
.operating-intro img {
	height: 60%;
}
.operating-intro .close {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.operating-intro .close::after {
	content: "x";
	font-size: 22px;
	color: #666;
}

/* 虚拟摇杆 */
#joystick {
	display: none;
	position: absolute;
	bottom: 10%;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	user-select: none;
}

@media (orientation: portrait) {
	.operating-intro img {
		width: 90%;
		height: auto;
	}

	#joystick {
		left: calc(50% - 50px);
	}
}

@media (orientation: landscape) {
	#joystick {
		left: 10%;
	}
}
