/* loading相关 */
.loading {
	position: fixed;
	z-index: 99999;
}
.loading > div {
	padding: 20px;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.loading > div > p {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading > div > p span {
	margin-right: 10px;
}
.loading .progress {
	color: #fff;
}

.loading-complete {
	position: fixed;
	z-index: 99999;
}
.loading-complete > div {
	padding: 20px;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.loading-complete > div > p {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}
.loading-complete > div > p svg {
	vertical-align: middle;
}
.loading-complete > div > p:nth-of-type(2) {
	font-size: 20px;
}
.loading-complete > div .start {
	width: 50%;
	margin: 0 auto;
	cursor: pointer;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	padding: 5px 20px;
	border: 1px solid #fff;
	border-radius: 30px;
	-webkit-tap-highlight-color: transparent;
}
.loading-complete > div .start:active {
	background: #fff;
	color: #333;
}
.loading-complete > div .start:hover {
	background: #fff;
	color: #333;
}

/* 预览div */
#preview-tooltip {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	position: fixed;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	z-index: 9999;
	max-width: 260px;
	border-radius: 10px;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	opacity: 0;
	transition: opacity .5s;
}
#preview-tips {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	position: fixed;
	width: 65%;
	text-align: center;
	left: 50%;
	bottom: 1%;
	transform: translateX(-50%);
	z-index: 9999;
	border-radius: 4px;
	padding: 5px 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	opacity: 0;
	transition: opacity .5s;
}
#boards-info {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	position: fixed;
	z-index: 99999;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#boards-info .boards-container {
	position: relative;
	width: 80%;
	height: 70%;
	background: #000;
	padding: 60px 40px 40px;
	border-radius: 20px;
	opacity: 0;
	transition: opacity .5s;
}
#boards-info .boards-container .content {
	width: 100%;
	height: 100%;
	display: flex;
	column-gap: 20px;
}
#boards-info .boards-container .close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
#boards-info .boards-container .info {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#boards-info .boards-container .info .title {
	font-size: 24px;
}
#boards-info .boards-container .info .author,
#boards-info .boards-container .info .describe {
	margin-top: 20px;
	line-height: 30px;
}
#boards-info .boards-container .img {
	flex: 1;
	overflow: hidden;
}
#boards-info .boards-container .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media screen and (max-width: 960px) {
	#boards-info .boards-container {
		width: 65%;
		height: 85%;
	}

	#boards-info .boards-container .content {
		flex-direction: column;
		column-gap: 0;
		overflow-y: scroll;
	}
	#boards-info .boards-container .info {
		margin-top: 20px;
		width: 100%;
		height: auto;
		order: 2;
	}
	#boards-info .boards-container .img {
		overflow: initial;
		order: 1;
	}
	#boards-info .boards-container .img img {
		height: auto;
		object-fit: initial;
	}
}
